.fullHeight {
    color: #FFF;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    width: 100vw;
    margin: 0;
    height: calc(100vh - 65px);
}

.flexCenter {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position {
    position: absolute;
    right: 0;
    top: 0;
}

.code {
    border-right: 3px solid;
    font-size: 55px;
    padding: 0 10px 0 10px;
    text-align: center;
}

.message {
    font-size: 40px;
    text-align: center;
    padding: 10px;
}